/* **************************
RESET RULES
************************** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  font-style: none;
}

/* **************************
DEBUG
************************** */
/* .debug {
  border: 2px solid greenyellow;
} */
/* **************************
TITOLO
************************** */
.fa-train {
  color: red;
}
.title {
  color: blue;
}

/* **************************
BOTTONE
************************** */
.scb-button {
  line-height: 2em;
  border: 2px solid greenyellow;
  border-radius: 999px;
  padding: 10px;
  margin-bottom: 30px;
}
.scb-button a {
  font-weight: 900;
  font-size: 15px;
  color: greenyellow;
}
.scb-button:hover {
  border: 2px solid blanchedalmond;
  background-color: red;
}
/* **************************
DESCRIPTION
************************** */
.sbc-info {
  color: black;
}

.scb-red {
  color: red;
  font-weight: 900;
}

.scb-bye {
  background-color: darkred;
  color: white;
}
